{% extends 'base.html.twig' %}

{% block title %}Hello InsertMessageController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('global') }}
    {{ encore_entry_link_tags('insert_message') }}
{% endblock %}

{% block body %}
    <div class="formulaire">
	    <h1 class="title">Message : </h1>
        {{ form_start(form) }}
        {{ form_row(form.content) }}

        <button class="customBtn" type="submit">
					➡
				</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
