{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('security') }}
	{{ encore_entry_link_tags('global') }}
{% endblock %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="title">Register</h1>
	<div class="formulaire">
		{{ form_start(registrationForm) }}
		<div class="input-field" value="zebouloux" class="validate">
			{{ form_row(registrationForm.username, {'value' : username}) }}
		</div>
		<div class="input-field" class="validate">
			{{ form_row(registrationForm.email) }}
		</div>
		<div class="input-field" class="validate">
			{{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
		</div>
		<div class="input-field" class="validate">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>
		<div class="input-field" class="validate">
			<button type="submit" class="customBtn">➡</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
