{% extends 'base.html.twig' %}

{% block title %}
	{{ category.name }}📚
{% endblock %}

{% block stylesheets %}

	{{ encore_entry_link_tags('accueil') }}
	{{ encore_entry_link_tags('global') }}
	{{ encore_entry_link_tags('category') }}
{% endblock %}

{% block body %}

	<div class="wrapper">
		<div class="top">
			<h1 class="cateTitle">{{ category.name }}</h1>
			<a href={{ category.name ~ "/insert/message" }} class="writeBtn">
				<svg xmlns="http://www.w3.org/2000/svg" width="30.311" height="32.394" viewbox="0 0 30.311 32.394">
					<path id="Path_11" data-name="Path 11" d="M6.547,27.912h6.426a1.467,1.467,0,0,0,1.076-.47L24.536,16.221h0l4.3-4.5a1.7,1.7,0,0,0,0-2.3L22.414,2.473a1.448,1.448,0,0,0-2.152,0L15.988,7.056h0L5.471,18.277a1.678,1.678,0,0,0-.44,1.15v6.866A1.57,1.57,0,0,0,6.547,27.912ZM21.338,5.906l4.289,4.582-2.152,2.3L19.186,8.205ZM8.062,20.091l8.987-9.6,4.289,4.582-8.987,9.6H8.062ZM30.8,31.15H3.516a1.623,1.623,0,0,0,0,3.238H30.8a1.623,1.623,0,0,0,0-3.238Z" transform="translate(-2 -1.994)" fill="#fff"/>
				</svg>
			</a>
		</div>

		<div class="threads">
			{% for message in category.message|reverse %}
				{% set vars = {
        			'content' : message.content,
        			'author' : message.user.username,
        			'category' : message.category.name
     			} %}
				{% include './components/thread.html.twig' with vars  %}
			{% endfor %}
		</div>

	</div>
{% endblock %}
